<div class="container">
	<div class="row main-content">
		<div class="col-md-3">
			<img style="width: 100%" {{bind-attr src=cover_image_url}} {{bind-attr title=title}} class="cover-image anime">
			<div class="thin-text">{{description}}</div>
		</div>
		<div class="col-md-9">
			<div class="row anime-info">
				<div class="col-sm-12" style="padding:0">
				{{type}} |
				{{episode_duration}} |
				{{age_rating}}

				{{#if session.isAuthenticated}}
					{{session.account.username}}
					<button class="btn btn-success btn-sm btn-beside" {{action 'toggle_ep_add'}}>+</button>
					<button class="btn btn-primary btn-sm btn-beside" {{action 'edit'}}>Edit</button>
				{{/if}}
				</div>
			</div>

			{{#if session.isAuthenticated}}
				{{#if isEditing}}
					{{partial 'anime/inlineEdit'}}
				{{/if}}
			{{/if}}

			{{#if session.isAuthenticated}}
				{{#if isAdding}}
					{{partial 'anime/episodeAdd'}}
				{{/if}}
			{{/if}}

			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<td>#</td>
							<td>Episode Title</td>
							<td>Air Date</td>
						</tr>
					<thead>

					<tbody>
						{{#each episodes}}
							<tr class="thin-text">
								<td>{{episode_number}}</td>
								<td>{{#if episode_title}} {{episode_title}} {{else}} -- {{/if}}</td>
								<td>{{#if air_date}} {{format-date-default air_date}} {{else}} -- {{/if}}</td>
							<tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
