<div {{bind-attr class=":fancy-heading coverClass"}}>
	<div class="container">
		<div class="anime-important">
			<h1>{{#link-to 'anime' this}} {{coverTitle}} {{/link-to}}</h1>
			<div class="genreList">
				{{#each genres}}
					<a>{{name}}</a>
				{{/each}}

				{{partial 'anime/add-library-entry'}}
			</div>
		</div>
	</div>
	<div class="banner-gradient"></div>
</div>

{{outlet}}
