<div class="well">
	<div class="row">
		<div class="col-sm-12">
			<form role="form">
				<div class="row">

					<div class="col-sm-6">
						<div class="form-group">
							<label>First Name</label>
							{{input type="text" value=first_name class="form-control" placeholder="First Name"}}
						</div>

						<div class="form-group">
							<label>Given Name</label>
							{{input type="text" value=given_name class="form-control" placeholder="Given Name"}}
						</div>

						<div class="form-group">
							<label>Gender</label>
							{{view Ember.Select content=blood_types value=blood_type class="form-control"}}
						</div>

						<div class="form-group">
							<label>Website</label>
							{{input type="text" value=website class="form-control" placeholder="Official Website"}}
						</div>
					</div>

					<div class="col-sm-6">

						<div class="form-group">
							<label>Last Name</label>
							{{input type="text" value=last_name class="form-control" placeholder="Last Name"}}
						</div>

						<div class="form-group">
							<label>Family Name</label>
							{{input type="text" value=alternate_name class="form-control" placeholder="Kanji only"}}
						</div>

						<div class="form-group">
							<label>Gender</label>
							{{view Ember.Select content=genders value=gender class="form-control"}}
						</div>	

						<div class="form-group">
							<label>Birth Date</label>
							{{view "datePicker" valueBinding="birth_date" class="form-control" placeholder="Birth Date"}}
						</div>

						<div class="form-group">
							<label>Birth Place</label>
							{{input type="text" value=birth_place class="form-control" placeholder="Hometown / Birth place"}}
						</div>


					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label>Other Info</label>
							{{textarea value=other_info class="form-control" rows="6"}}
						</div>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-sm-12">
						<button class="btn btn-primary btn-beside" {{action 'saveChanges' this}}>Save Changes</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>