<div class="container">
	<div class="row main-content">
		<div class="col-md-3">
			<img style="width: 100%" {{bind-attr src=cover_image_url}} {{bind-attr title=title}} class="cover-image anime">
			<div class="description thin-text">{{description}}</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-sm-9" style="padding:0">
					<ul class="anime-info">
						<li>{{type}}</li> 
						<li>{{episode_duration}} mins.</li>
						<li>{{age_rating}}</li>
						<li>{{total_episodes}}</li>
						<li>Airing from {{format-date-default start_date}} to {{#if end_date}}{{end_date}}{{else}} - {{/if}}</li>
					</ul>
				</div>

				<div class="col-sm-3">
				{{#if session.isAuthenticated}}
					{{session.account.username}}
					<button class="btn btn-success btn-sm btn-beside" {{action 'toggle_ep_add'}}>+</button>
					<button class="btn btn-primary btn-sm btn-beside" {{action 'edit'}}>Edit</button>
				{{/if}}
				</div>
			</div>

			{{#if session.isAuthenticated}}
				{{#if isEditing}}
					{{partial 'anime/inlineEdit'}}
				{{/if}}
			{{/if}}

			{{#if session.isAuthenticated}}
				{{#if isAdding}}
					{{partial 'anime/episodeAdd'}}
				{{/if}}
			{{/if}}

			<h3 class="thin-text">Episodes</h3>

			{{#if episodes}}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<td>#</td>
							<td>Episode Title</td>
							<td>Air Date</td>
						</tr>
					<thead>

					<tbody>
						{{#each episodes}}
							<tr class="thin-text">
								<td>{{episode_number}}</td>
								<td>{{#if episode_title}} {{episode_title}} {{else}} -- {{/if}}</td>
								<td>{{#if air_date}} {{format-date-default air_date}} {{else}} -- {{/if}}</td>
							<tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{else}}
				No episodes found for this anime.
			{{/if}}

			<h3 class="thin-text">Casting</h3>

			{{#each castings}}
				<div class="row" style="padding: 5px 0; border-bottom: 1px solid #EBEBEB;">
					<div class="col-sm-6">
						{{#link-to 'character' character}} {{character.full_name}} {{/link-to}}: {{role}}
					</div>

					<div class="col-sm-6">
						{{#link-to 'person' person}} {{person.full_name}} {{/link-to}}: {{language}}
					</div>
				</div>
			{{else}}
				No castings found for this anime.
			{{/each}}

			<h3 class="thin-text">Staff Member</h3>

			{{#each staff_members}}
				<div class="row" style="padding: 5px 0; border-bottom: 1px solid #EBEBEB;">
					<div class="col-sm-6">
						{{#link-to 'person' person}} {{person.full_name}} {{/link-to}}
					</div>

					<div class="col-sm-6">
						{{staff_position}}
					</div>
				</div>
			{{else}}
				No staff members found for this anime.
			{{/each}}

		</div>
	</div>
</div>
