<div class="row">
	<div class="col-sm-12">
		<div class="box box-teal">
			<div class="box-heading">Add Person</div>
			<div class="box-body">
				<form role="form">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>First Name</label>
								{{input type="text" value=first_name placeholder="First Name" class="form-control"}}
							</div>
							<div class="form-group">
								<label>Given Name</label>
								{{input type="text" value=given_name placeholder="Given Name" class="form-control"}}
							</div>

						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label>Last Name</label>
								{{input type="text" value=last_name placeholder="Last Name" class="form-control"}}
							</div>
							<div class="form-group">
								<label>Family Name</label>
								{{input type="text" value=family_name placeholder="Family Name" class="form-control"}}
							</div>
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Gender</label>
								{{view Ember.Select content=genders value=gender class="form-control"}}
							</div>
							<div class="form-group">
								<label>Blood Type</label>
								{{view Ember.Select content=blood_types value=blood_type class="form-control"}}
							</div>

							<div class="form-group">
								<label>Website</label>
								{{input type="text" value=website placeholder="Person's official website" class="form-control"}}
							</div>

						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label>Birth Date</label>
								{{input type="text" value=birth_date placeholder="Birth Date" class="form-control"}}
							</div>
							<div class="form-group">
								<label>Birth Place</label>
								{{input type="text" value=birth_place placeholder="Birth Place" class="form-control"}}
							</div>

							<div class="form-group">
								<label>Cover Photo</label>
								{{input type="text" value=cover_photo placeholder="This field is just a placeholder" class="form-control"}}
							</div>
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label>Other Info</label>
								{{textarea value=other_info class="form-control" rows="10" placeholder="Any additional information about the person: height, weight, personal life, awards, etc"}}
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<button class="btn btn-primary btn-beside" {{action 'add_person'}}>Add Person</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

