<div class="well">
	<div class="row">
		<div class="col-sm-12">
			<form role="form">
				<div class="row">

					<div class="col-sm-6">
						<div class="form-group">
							<label>First Name</label>
							{{input type="text" value=first_name class="form-control" placeholder="First Name"}}
						</div>

						<div class="form-group">
							<label>Japanese Name</label>
							{{input type="text" value=japanese_name class="form-control" placeholder="Last Name"}}
						</div>
					</div>

					<div class="col-sm-6">

						<div class="form-group">
							<label>Last Name</label>
							{{input type="text" value=last_name class="form-control" placeholder="Last Name"}}
						</div>

						<div class="form-group">
							<label>Alternate Name</label>
							{{input type="text" value=alternate_name class="form-control" placeholder="Alternate Name"}}
						</div>

						<div class="form-group">
							<label>Gender</label>
							{{view Ember.Select content=genders value=gender class="form-control"}}
						</div>											
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label>Biography</label>
							{{textarea value=biography class="form-control" rows="6"}}
						</div>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-sm-12">
						<button class="btn btn-primary btn-beside" {{action 'saveChanges' this}}>Save Changes</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>