<div class="row">
	<div class="col-sm-12">
		<div class="box box-teal">
			<div class="box-heading">Add Character</div>
			<div class="box-body">
				<form role="form">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>First Name</label>
								{{input type="text" value=first_name placeholder="First Name" class="form-control"}}
							</div>
							<div class="form-group">
								<label>Japanese Name</label>
								{{input type="text" value=japanese_name placeholder="Japanese Name" class="form-control"}}
							</div>

						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label>Last Name</label>
								{{input type="text" value=last_name placeholder="Last Name" class="form-control"}}
							</div>
							<div class="form-group">
								<label>Alternate Name</label>
								{{input type="text" value=alternate_name placeholder="Alternate Name" class="form-control"}}
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label>Biography</label>
								{{textarea value=biography class="form-control" rows="10" placeholder="Biography of character"}}
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Gender</label>
								{{view Ember.Select content=genders value=gender class="form-control"}}
							</div>
						</div>

						<div class="col-sm-6">
							Image upload coming soon!
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<button class="btn btn-primary btn-beside" {{action 'add_character'}}>Add Character</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

